* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

span {
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.weather {
    &__info {
        opacity: 0.8;
    }
    &__heading {
        @media screen and(min-width: 768px) {
            font-size: 3.5rem;
        }
    }
    &__location {
        font-size: 1.5rem;
        font-weight: bold;
        @media screen and(min-width: 768px) {
            font-size: 2rem;
        }
    }
    &__unit {
        cursor: pointer;
    }
}

.active {
    font-size: 2rem;
}

.alert-message {
    background-color: rgb(248, 118, 118);
    line-height: 1.5;
    padding: 8px 0;
}