* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.weather {
    height: 900px;
    background: url(/img/summer.jpg);
    &__heading {
        @media screen and(min-width: 768px) {
            font-size: 3.5rem;
        }
    }
    &__info {
        height: 600px;
        opacity: 0.9;
    }
}

.location {
    font-size: 1.5rem;
    font-weight: bold;
    @media screen and(min-width: 768px) {
        font-size: 2rem;
    }
}

p {
    @media screen and(min-width: 768px) {
        font-size: 1.5rem;
    }
}